*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  background-color: #282c34;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: darkgray;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: rgb(0,28,73);
}

.brand {
  text-transform: uppercase;
  font-weight: bold;
}

.nav_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7rem;
  margin: 0;
  max-height: 250px;
  justify-self: end;
}

.nav_toggle div{
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: darkgrey;
}

.nav_toggle {
  cursor: pointer;
  display:none;
}

@media screen and (max-width: 768px) {
  .nav_toggle {
      display: block;
  }
  .nav_menu {
      position: fixed;
      top: 7vh;
      right: 0;
      width: 20%;
      height: 93vh;
      background: rgb(0,28,73);
      flex-direction: row;
      transform: translateX(100%);
      transition: 0.5s ease-in;
      gap: 1rem;
      padding-left: 10px;
      padding-right: 10px;
  }
}

.active {
  display: inline;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px,5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px,-5px);
}