<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Home Page</title>
</head>

<body>
    {% block content %}
        <nav class="nav">
            <a href="#" class="brand">macrit</a>
            <ul class="active">
                <li class="nav_item">
                    <a href="/recipe" class="nav_link">
                        Recipes
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#" class="nav_link">
                        Macros
                    </a>
                </li>
                <li class="nav_item">
                    <a href="#" class="nav_link">
                        Profile
                    </a>
                </li>
                <li class="nav_item">
                    <a href="/settings" class="nav_link">
                        Settings
                    </a>
                </li>
            </ul>
        </nav>
    {% endblock %}
</body>

</html>