{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
{% block content%}
<h3>Recipes</h3>

{% for recipe in recipe_list %}
<div class="card">
    <div class="card-header">
        Recipe Name : {{recipe.name}}
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <ul>
            <li>{{recipe.name}}</li>
            {% for ingredient in recipes.ingredients.all %}
            <li>Ingredients : {{ingredient}}</li>
            {% endfor %}
            <li>Recipe Instructions : {{recipe.instructions}}</li>
            <form method="POST">
                <button type="submit" name="name" value="{{recipe.name}}">Add to Diary</input>
            </form>
        </ul>
    </div>
</div>

{% endfor %}
{% endblock %}
</html>