<!DOCTYPE html>
<html lang="en">
    <h3>Recipes</h3>
    {% for recipes in recipe_list %}
        <div class="card">
            <div class="card-header">
                Recipe Name : {{recipes.nameOfRecipe}}
            </div>
            <div class="card-body">
                <h5 class="card-title">  </h5>
                <p class="card-text">Add any information we want here
                  <ul>
                    <li>recipe entries : {{recipes.nameOfRecipe}}</li>
                    {% for ingredients in recipes.ingredients.all %}
                      <li>Ingredients : {{ingredients}}</li>
                    {% endfor %}
                      <li>Recipe Instructions : {{recipes.instructions}}</li>
                  <ul>
                </p>

                <button type="submit" name="AddToRecipe" value="AddToRecipe">&nbsp;Add To Diary</button>
            </div>
        </div>
            <div class = "container">
        </ul>
        {% endfor %}
</html>