{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content%}
<link rel="stylesheet" href="{% static 'recipe_style.css' %}">
<h3 class = "title">Recipes</h3>
<ul class = "recipe-list">
{% for recipe in recipe_list %}
<!-- <div class="card">
    <div class="card-header">
        Recipe Name : {{recipe.name}}
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <ul>
            <li>{{recipe.name}}</li>
            {% for ingredient in recipes.ingredients.all %}
            <li>Ingredients : {{ingredient}}</li>
            {% endfor %}
            <li>Recipe Instructions : {{recipe.instructions}}</li>
            <form method="POST">
                <button type="submit" name="name" value="{{recipe.name}}">Add to Diary</input>
            </form>
        </ul>
    </div>
</div> --> 
    <li>
        <div class = "recipe-item">
            <span class = "recipe-name" id = "element">{{recipe.name}}</span>
            <span id = "el-right">
                <div>&#10060;</div>
                {% for tag in recipe.tags %}
                    
                {% endfor %}
                <form method="POST">
                    <button type="submit" name="name" value="{{recipe.name}}">Add to Diary</input>
                </form>
            </span>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}
</html>